<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>绿盾解密</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.9/vue.min.js"></script>
    <style>
        #vueApp table *{
            font-size: 40px;
        }
        #showLog p:hover{
            background-color: yellow;
        }
    </style>
</head>
<body>
<div>
    <label style="background-color: #777;color: white">页面比较简洁，主意在简单配置,适合小白</label>
    <a href="/page/localMonitorLog">本地目录监控日志查看</a>
</div>
<div id="vueApp">
    <table width="99%">
        <tr>
            <td align="right">解密目录：</td>
            <td width="80%"><input type="text" name="monitoredFilePath" style="width: 100%" v-model="monitoredFilePath"/></td>
        </tr>
        <tr>
            <td align="right">生成目录：</td>
            <td><input type="text" name="monitoredDecryptPath" style="width: 100%"  v-model="monitoredDecryptPath"/></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="button" value="解密" @click="decrypt" style="width: 100%"/>
                <input type="button" value="清空日志内容" @click="clearLog" style="width: 100%"/>
            </td>
        </tr>
    </table>
    <label>日志展示：</label>
    <div id="showLog" style="border: 1px black solid;height: 300px;overflow: auto">
        <p v-for="logContent in logContentList">{{logContent}}</p>
    </div>
</div>
</body>
</html>
<script>
    var webSocket = null;
    var socketOpen = false;

    if ("WebSocket" in window) {
        webSocket = new WebSocket(`ws://${window.location.host}/concept-websocket/user?userId=1`);
        webSocket.onopen = function () {
            console.log("连接成功！");
            socketOpen = true
        };
        webSocket.onmessage = function (evt) {
            var received_msg = evt.data;
            console.log("接受消息：" + received_msg);
            // 追加日志
            vueApp.logContentList.unshift(`${new Date().toISOString()}:${received_msg}`);
        };
        webSocket.onclose = function () {
            console.log("连接关闭！");
        };
        webSocket.onerror = function () {
            console.log("连接异常！");
        };
    }

    var vueApp = new Vue({
        el: '#vueApp',
        data: {
            monitoredFilePath: "/home/renyong/Downloads/测试/1",
            monitoredDecryptPath: "/home/renyong/Downloads/测试/1_解密",
            logContentList: ['这是日志打印']
        },
        methods: {
            // 解密
            decrypt: function () {
                var body = {monitoredFilePath: vueApp.monitoredFilePath,
                    monitoredDecryptPath: vueApp.monitoredDecryptPath}
                if (socketOpen) {
                    webSocket.send(JSON.stringify(body))
                }
            },
            // 清理日志
            clearLog: function () {
                vueApp.logContentList = [];
            }
        }
    });
</script>
